<div class="archives list-group">

{% for month,items in archives_data %}
	<a class="list-group-item" href="{{ base_url }}/{{ config.plugins.archives.taxonomy_names.month }}{{ config.system.param_sep }}{{ month|date('M_Y')|lower|e('url') }}">
    <span class="archive_date">{{ month }}</span>
    {% if archives_show_count %}
    <span class="badge pull-right">{{ items|length }}</span>
    {% endif %}
  </a>
{% endfor %}
</div>
